.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-header h1 {
  margin: 0;
}

main {
  position: relative;
  min-height: 800px;
}

footer {
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  position: fixed;
  bottom: 0;
  width: 100%;
}